.one{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    background-color: rgb(255, 255, 255);

}
.section_one{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}
.section_two{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}
.section_three{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}
.section_four{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}
.section_five{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}
.section_six{
    background-color: rgb(211, 1, 1);
    height: 450px;
    width: 250px;
    border-radius: 8px;
}


.section_one_big_title{
    font-size: 5px;
    text-align: center;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}
.rasm{
    height: 150px;
    width: 150px;
    margin-left: 50px;
    transition: transform 0.3s ease;
    
}

.rasm:hover {
  transform: scale(1.1) rotate(-5deg);
}
.section_one_image{
    box-shadow: 0px 4px 8px 0px rgba(48, 1, 1, 0.2);
    border-radius: 16px;
    
}
.section_one_title h1{
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.section_one_title h1:hover{
    color: yellow;
    cursor: pointer;
}
.section_one_title p{
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.section_one_button{
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.plus{
    height: 35px;
    width: 50px;
    background-color: rgb(245, 252, 247);
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: red;
    
}
.plus:hover{
    background-color: rgb(73, 82, 73);
    color: white;
}
.minus{
    height: 35px;
    width: 50px;
    background-color: rgb(245, 252, 247);
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: red;
    
}
.minus:hover{
    background-color: rgb(73, 82, 73);
    color: white;
}

.order{
    text-align: center;
    
   
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 0);
    border: none;
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 9px;
    
}
.order:hover{
    background-color: gray;
    color: rgb(241, 241, 235);
    cursor: pointer;
}

.section_one_count{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.section_one_count h1{
    font-size: 20px;
    text-align: end;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
}             
.section_one_count h3{
    font-size: 20px;
    text-align: end;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
}             

.section_one_count h2{
    font-size: 20px;
    text-align: start;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
}


