#containar {
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#selectYear {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-top: 2px;
   position: fixed;
    left: 600px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    
    box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    border-radius: 15px;
    text-align: center;
}

.cars img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
}

.cars {
    margin: 0 auto;
    width: 200px;
    height: 360px;
    box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: -3px 2px 44px -2px rgba(0,0,0,0.68);
    border-radius: 15px;
    text-align: center;
}


















