.header{
    width: 100%;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.header_nav{

    width: 1440px;
    height: 70px;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 0 auto;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82px;
    height: 44px;
    margin-left: 20px;
}

.header_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list--ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header_item{
    text-decoration: none;
    color: #000000;
    display: flex;
    
}

.header_item:hover{
    color: #1090CB;
}

.header_btn{
    width: 125px;
    height: 41px;
    border-radius: 6px;
    background-color:#1090CB;
    color: #fff;
    border: none;

}

/* section app */


.applic{
    display: flex;
     width: 1440px;
    height: 650px;
    background-color: #1090CB1A;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    
    
}

.container{
    
    margin: 0 auto;
    display: flex;
    
}

.app_left{
    margin-left: 100px;
    width: 630px;
    height: 450px;
    margin-top: 100px;
   
}

.app_left--title{
    font-size: 40px;
}

.app_left--text{
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 5px;
    color: gray;
}

.app_left--btn{
    margin-top: 50px;
    gap: 30px;
    
}

.app_left--btn--one{
    width: 193px;
    height: 51px;
    border-radius: 10px;
    background-color: #1090CB;
    border: none;
    color: #fff;
    
}
.app_left--btn--two{
    width: 193px;
    height: 51px;
    border-radius: 10px;
    color: #1090CB;
    border: 1px solid #1090CB;
    
}

/* .app_rigt{
    width: 597px;
    height: 763px;
    background-color: #fff;
    position: relative;
    bottom: 180px;
} */

.app_right--imge{
    width: 500px;
    height: 600px;
    position: relative;
    left: 50px;
    
}

/* web icon */

.web{
    width: 1440px;
    height: 150px;
   border-bottom: 1px solid gray    ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web_icon--ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 100px;
}
.web_item{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 267px;
    height: 83px;
    
}

.web_item--icons_one{
    width: 83px;
    height: 83px;
    background-color: #EFEAFF;
    border-radius: 20px;
    
}

.web_item--icons--one{
    position: relative;
    top: 20px;
    left: 20px;
}
.web_item--icons_two{
    width: 83px;
    height: 83px;
    background-color: #ECFFDA;
    border-radius: 20px;
    
}

.web_item--icons--two{
    position: relative;
    top: 20px;
    left: 20px;
}
.web_item--icons_three{
    width: 83px;
    height: 83px;
    background-color: #DAE6FF;
    border-radius: 20px;
    
}

.web_item--icons--three{
    position: relative;
    top: 20px;
    left: 20px;
}
.web_item--icons_four{
    width: 83px;
    height: 83px;
    background-color: #FFE5DA;
    border-radius: 20px;
    
}

.web_item--icons--four{
    position: relative;
    top: 20px;
    left: 20px;
}

.web_item p{
    color: gray;
}

.web_item h4{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* center lorem */

.cent_lorem{
    width: 1440px;
    height: 300px;
   
    margin: 0 auto;
    text-align: center;
}
.cent_title h4{
    font-size: 40px;
}

.cent_title p{
    font-size: 20px;
    width: 800px;
    text-align: center;
    position: relative;
    left: 300px;
    color: gray;
}

/* phone */

.phone{
    width: 1440px;
    height: 900px;
    background-color: red;
    margin: 0 auto;
    display: flex;
}

/* .with_icon{
    
    /* background-color: #08D3BB;
    border-radius: 50%; */
 */

.with_icon{
    width: 58px;
    height: 58px;
    background-color: #08D3BB;
    border-radius: 50%;
}